*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.headerSection{
  display: flex;
  justify-content: space-between;
 
 align-items: center;
  padding: 10px;
  gap: 30px;
  background-color: black;
  color: white;
  padding-top: 10px;
}
.center ul li{
list-style: none;
display: inline-flex;
margin: 0px 10px;

}
.title{
  font-size: 1rem;
}
.left{
  flex: 2;
}
.center{
  flex: 4;
  
}
.search{
  flex: 2;
}
.right{
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.bannerbox{
  margin: 10px 0px;
}
.bannerbox img{
  width: 100%;
}
.menImages{
  display: flex;
  gap: 10px;
}
.menImages img{
  height: 220px;
  width: 220px;
  
}
.search input{
  padding: 10px;
  width: 20rem;
  border-radius: 5px;
}